<div class="container-fluid">
  <div class="row">
    <div class="jumbotron col-s6">
      <div class="card">
        <img src="" alt="" class="card-image">
        <div class="card-body">
          <p>this is a description</p>
        </div>
        <span class="card-header">titre de la plante</span>
      </div>
    </div>
    <div class="jumbotron col-s6">
      <p>vue de l'eau</p>
    </div>
  </div>
</div>

<div class="container-fluid">
    <div class="row">
      <div class="jumbotron col-s6">
        <p>vue de la lumière</p>
      </div>
      <div class="jumbotron col-s6">
        <p>vue de l'eau</p>
      </div>
    </div>
  </div>