<div class="container">
  <form action="" method="post">
    <label for="nom">votre nom</label>
    <input type="text" placeholder="nom">
    <label for="prenom">prénom</label>
    <input type="text" placeholder="prénom">
    <label for="mail"></label>
    <input type="mail" name="mail_post" id="mail" placeholder="mail">
    <label for="numero">numéro de téléphone</label>
    <input type="number" name="numero_post" id="numero" placeholder="06...">
    <label for="message_post">votre demande</label>
    <textarea name="" id="" cols="30" rows="10"></textarea>
    <button type="submit">submit</button>
  </form>
</div>